<div class="flex justify-around items-center w-full h-screen">
  <mat-card class="w-10/12 md:w-1/3">
    <mat-card-title>Welcome back</mat-card-title>
    <mat-card-subtitle>Login to access your account</mat-card-subtitle>
    <mat-card-actions>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

        <div>
          <mat-form-field class="w-full">
            <input matInput type="email" id="email" placeholder="Email" autocomplete="off" formControlName="email" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <input matInput type="password" id="password" placeholder="Password" autocomplete="off" formControlName="password" required>
          </mat-form-field>
        </div>

        <div class="pt-2">
          <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid" class="w-full">
            Login
          </button>
        </div>

<!--        <mat-divider></mat-divider>-->

        <div class="px-2 pt-1 w-full flex justify-around">
          or
        </div>
        <div class="pt-1">
          <a href="http://localhost:1111/api/oauth/github/connect" (click)="loadingGithub = true" class="w-full">
            <button mat-stroked-button color="black" type="button" class="w-full">
              <span class="w-full flex justify-around items-center">
                <mat-spinner *ngIf="loadingGithub; else defaultLabel" diameter="20" strokeWidth="3" class="my-1.5"></mat-spinner>
              </span>
              <ng-template #defaultLabel>
                Login with Github
              </ng-template>
            </button>
          </a>
        </div>
      </form>
    </mat-card-actions>
  </mat-card>
</div>
