<!-- Show loading spinner until feed is ready. -->
<ng-template #loadingFeed>
  <div class="flex justify-around py-5">
    <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
  </div>
</ng-template>

<!-- The feed -->
<div *ngIf="feedFiltered; else loadingFeed">

  <!-- The create form -->
  <div class="my-3 mx-4">
    <app-tweet-create (tweetCreated)="appendTweet($event)"></app-tweet-create>
  </div>
  <mat-divider></mat-divider>

  <!-- The feed's tweets -->
  <app-tweet *ngFor="let tweet of feedFiltered" [tweet]="tweet"></app-tweet>

</div>
