<div *ngIf="profile$ | async as user">
  <!-- Info Area -->
  <div class="relative">
    <div class="h-32 md:h-52">
    <!-- TODO: Build the image path in go and attach it to the user object -->
      <img src="http://localhost:1111/images/user/{{ user.id }}/{{ user.header }}"
           alt="user header image"
           class="object-cover h-full w-full">
    </div>
    <div class="h-24 w-24 md:h-36 md:w-36 absolute top-20 md:top-32 left-4">
      <img src="http://localhost:1111/images/user/{{ user.id }}/{{ user.avatar }}"
           alt="user avatar"
           class="object-cover h-full w-full rounded-full border-4 border-white">
    </div>
    <div class="h-40 md:h-44 mx-4 my-3">
      <div class="flex justify-end items-start">
        <button mat-stroked-button>Set up profile</button>
      </div>
      <div class="text-gray-500 pt-4 md:pt-8">
        <div class="text-lg text-black font-bold">{{ user.name }}</div>
        <!-- TODO: Display the handle here, not the name -->
        <div class="-mt-1">@{{ user.name }}</div>
        <div class="flex items-center py-2">
          <mat-icon>calendar_today</mat-icon>
          <div class="pl-1">Joined {{ user.created_at | date }}</div>
        </div>
        <div class="flex">
          <div class="pr-4"><span class="font-bold text-black">
            {{ user.followed_count }}</span> Following
          </div>
          <div class="pr-4"><span class="font-bold text-black">
            {{ user.follower_count }}
          </span> Followers</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tweets Area -->
  <!-- Prevent scrollTop when selecting lazy loading tabs with this min-height parent around the tab group. -->
  <div style="min-height: 800px">
  <mat-tab-group mat-align-tabs="center" [disablePagination]="true" (selectedIndexChange)="tabChange($event)">
    <!-- The user's original Tweets -->
    <mat-tab label="Tweets">
      <div *ngFor="let tweet of user.tweets">
        <div *ngIf="!tweet.replies_to_id && !tweet.retweets_id ">
          <app-tweet [tweet]="tweet"></app-tweet>
        </div>
      </div>
    </mat-tab>
    <!-- The user's Tweets (including those that are replies or retweets) -->
    <mat-tab label="Tweets & Replies">
      <ng-template matTabContent>
        Tweets and Replies are your normal tweets PLUS any tweets you've sent as a reply to someone else's [public] tweet. These are tweets that typically start with the “@” mention.
        <div *ngIf="allTweetsLoaded; else loadingAllTweets">
          <div *ngFor="let tweet of allTweets">
            <app-tweet [tweet]="tweet"></app-tweet>
          </div>
        </div>
        <ng-template #loadingAllTweets>
          <div class="flex justify-around py-5">
            <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
          </div>
        </ng-template>
      </ng-template>
    </mat-tab>
    <!-- The user's Tweets containing images-->
    <mat-tab label="Media">
      <ng-template matTabContent>
        Tweets I did (originals or not) containing images.
        <div *ngIf="imageTweetsLoaded; else loadingImageTweets">
          <div *ngFor="let tweet of imageTweets">
            <app-tweet [tweet]="tweet"></app-tweet>
          </div>
        </div>
        <ng-template #loadingImageTweets>
          <div class="flex justify-around py-5">
            <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
          </div>
        </ng-template>
      </ng-template>
    </mat-tab>
    <!-- All Tweets liked by the user -->
    <mat-tab label="Likes">
      All the stuff I liked in the past.
      <div *ngFor="let like of user.likes">
        <app-tweet [tweet]="like.tweet"></app-tweet>
      </div>
    </mat-tab>
  </mat-tab-group>

  </div>

</div>
