<!--<div *ngIf="profile! as user; else loadingProfile">-->
<div *ngIf="profile$ | async as profile; else loadingProfile">
  <!-- Info Area -->
  <div class="relative">
    <div class="h-32 md:h-52">
    <!-- TODO: Build the image path in go and attach it to the user object -->
      <img *ngIf="profile.header; else headerPlaceholder" alt="user header" class="object-cover h-full w-full"
           src="http://localhost:1111/images/user/{{ profile.id }}/{{ profile.header }}">
      <ng-template #headerPlaceholder>
        <div class="h-full w-full flex justify-around items-center bg-gray-300"></div>
      </ng-template>
    </div>
    <div class="h-24 w-24 md:h-36 md:w-36 absolute top-20 md:top-32 left-4">
      <img *ngIf="profile.avatar; else avatarPlaceholder" alt="user avatar"
           src="http://localhost:1111/images/user/{{ profile.id }}/{{ profile.avatar }}"
           class="object-cover h-full w-full rounded-full border-4 border-white">
      <ng-template #avatarPlaceholder>
        <div class="h-full w-full flex justify-around items-center bg-gray-200 rounded-full border-4 border-white">
          <mat-icon class="text-5xl text-gray-600" style="width: auto; height: auto">person_outline</mat-icon>
        </div>
      </ng-template>
    </div>
    <div class="mx-4 my-3">
      <div class="flex justify-end items-start">
        <button *ngIf="(authedUser$|async)!.id === profile.id; else followButton" mat-stroked-button (click)="openDialog()">
          Set up profile
        </button>
        <ng-template #followButton>
          <button mat-flat-button color="primary">Follow</button>
        </ng-template>
      </div>
      <div class="text-gray-500 pt-4 md:pt-8">
        <div class="text-lg text-black font-bold">{{ profile.name }}</div>
        <!-- TODO: Display the handle here, not the name -->
        <div class="-mt-1">@{{ profile.handle }}</div>
        <div class="my-2 text-black">{{ profile.bio }}</div>
        <div class="flex items-center py-2">
          <mat-icon>calendar_today</mat-icon>
          <div class="pl-1">Joined {{ profile.created_at | date: 'MMMM YYYY' }}</div>
        </div>
        <div class="flex">
          <div class="pr-4"><span class="font-bold text-black">
            {{ profile.followed_count }}</span> Following
          </div>
          <div class="pr-4"><span class="font-bold text-black">
            {{ profile.follower_count }}
          </span> Followers</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tweets Area -->
  <!-- Prevent scrollTop when selecting lazy loading tabs with this min-height parent around the tab group. -->
  <div style="min-height: 800px">
  <mat-tab-group mat-align-tabs="center" [disablePagination]="true" (selectedIndexChange)="tabChange($event)">
    <!-- The user's original Tweets -->
    <mat-tab label="Tweets">
      <div *ngFor="let tweet of profile.tweets">
        <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    </mat-tab>
    <!-- The user's Tweets (including those that are replies or retweets) -->
    <mat-tab label="Tweets & Replies">
      <ng-template matTabContent>
        <div *ngIf="allTweetsLoaded; else loadingAllTweets">
          <div *ngFor="let tweet of allTweets">
            <app-tweet [tweet]="tweet"></app-tweet>
          </div>
        </div>
        <ng-template #loadingAllTweets>
          <div class="flex justify-around py-5">
            <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
          </div>
        </ng-template>
      </ng-template>
    </mat-tab>
    <!-- The user's Tweets containing images-->
    <mat-tab label="Media">
      <ng-template matTabContent>
        <div *ngIf="imageTweetsLoaded; else loadingImageTweets">
          <div *ngFor="let tweet of imageTweets">
            <app-tweet [tweet]="tweet"></app-tweet>
          </div>
        </div>
        <ng-template #loadingImageTweets>
          <div class="flex justify-around py-5">
            <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
          </div>
        </ng-template>
      </ng-template>
    </mat-tab>
    <!-- All Tweets liked by the user -->
    <mat-tab label="Likes">
      <ng-template matTabContent>
        <div *ngIf="likedTweetsLoaded; else loadingLikedTweets">
          <div *ngFor="let tweet of likedTweets">
            <app-tweet [tweet]="tweet"></app-tweet>
          </div>
        </div>
        <ng-template #loadingLikedTweets>
          <div class="flex justify-around py-5">
            <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
          </div>
        </ng-template>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
<ng-template #loadingProfile>
  <div class="flex justify-around py-5">
    <mat-spinner diameter="27" strokeWidth="3"></mat-spinner>
  </div>
</ng-template>
