<mat-sidenav-container *ngIf="authedUser$ | async as user" class="sidenav-container">

  <!-- Left Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [position]="(isHandset$ | async) ? 'end' : 'start'"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <div class="h-full flex flex-col">
      <app-profile-search *ngIf="isHandset$ | async"></app-profile-search>
      <mat-toolbar *ngIf="!(isHandset$ | async)">
        <a routerLink="feed">
          <mat-icon color="primary" class="text-3xl">adb</mat-icon>
        </a>
      </mat-toolbar>
      <!-- Menu Items -->
      <mat-nav-list>
        <a mat-list-item routerLink="feed" routerLinkActive="active">
          <mat-icon matListIcon>house_siding</mat-icon>
          <div matLine>Home</div>
        </a>
        <a mat-list-item routerLink="profile/{{ user!.id }}" routerLinkActive="active">
          <mat-icon matListIcon>person_outline</mat-icon>
          <div matLine>Profile</div>
        </a>
        <mat-divider></mat-divider>
        <div mat-subheader>Placeholders</div>
        <a mat-list-item>
          <mat-icon matListIcon>bookmark_border</mat-icon>
          <div matLine>Bookmarks</div>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>tag</mat-icon>
          <div matLine>Explore</div>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>notifications_none</mat-icon>
          <div matLine>Notifications</div>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>mail_outline</mat-icon>
          <div matLine>Messages</div>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>list</mat-icon>
          <div matLine>Lists</div>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
      <!-- Tweet Button -->
      <div class="flex-grow p-5">
        <button mat-flat-button (click)="openTweetDialog()" color="primary" class="w-full">Tweet</button>
      </div>
      <!-- Popup Menu -->
      <mat-action-list>
        <mat-list-item [matMenuTriggerFor]="menu">
          <img *ngIf="user!.avatar; else avatarPlaceholder" matListAvatar
               src="{{ env.userImgDir }}/{{ user!.id }}/{{ user!.avatar }}" alt="avatar">
          <ng-template #avatarPlaceholder>
            <div class="h-10 w-10 mr-4 flex justify-around items-center bg-gray-200 rounded-full">
              <mat-icon class="text-gray-600" style="width: auto; height: auto">person_outline</mat-icon>
            </div>
          </ng-template>
          <div matLine>
            <span class="font-bold">{{ user!.name }}</span>
          </div>
          <div matLine>@{{ user!.handle }}</div>
          <mat-icon>more_horiz</mat-icon>
        </mat-list-item>
        <mat-menu #menu="matMenu" class="w-72 ml-8">
          <mat-list>
            <mat-list-item>
              <img *ngIf="user!.avatar; else avatarPlaceholder" matListAvatar
                   src="{{ env.userImgDir }}/{{ user!.id }}/{{ user!.avatar }}" alt="avatar">
              <div matLine>
                <span class="font-bold">{{ user!.name }}</span>
              </div>
              <div matLine>@{{ user!.handle }}</div>
              <mat-icon color="primary">check</mat-icon>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <button mat-menu-item disabled>Add an existing account</button>
          <button mat-menu-item (click)="logout()">Log out @{{ user!.handle }}</button>
        </mat-menu>
      </mat-action-list>
    </div>
  </mat-sidenav>

  <!-- Main Area -->
  <mat-sidenav-content (scroll)="onScroll($event)">
    <!-- Header -->
    <mat-toolbar color="primary" class="flex justify-between">
      <div *ngIf="router.url.startsWith('/profile') || router.url.startsWith('/tweet'); else defaultHeader"
           class="flex items-center">
        <button
          (click)="back()"
          type="button"
          mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div *ngIf="router.url.startsWith('/profile'); else tweetHeader">
          <div *ngIf="viewingProfile$ | async as user" class="pl-6">
            <div>{{ user!.name }}</div>
            <div class="text-xs -mt-1">
              {{ user.tweet_count }} Tweet<span *ngIf="user.tweet_count != 1">s</span>
            </div>
          </div>
        </div>
        <ng-template #tweetHeader>
          <div class="pl-6">Tweet</div>
        </ng-template>
      </div>
      <ng-template #defaultHeader>
        Home
      </ng-template>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <!-- Right Sidebar -->
  <mat-sidenav #drawer class="sidenav-right" fixedInViewport
       [position]="(isHandset$ | async) ? 'start' : 'end'"
       [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
       [mode]="(isHandset$ | async) ? 'over' : 'side'"
       [opened]="(isHandset$ | async) === false">
    <!-- Search Field -->
    <div *ngIf="!(isHandset$ | async)" class="mt-3 ml-8 mr-4">
      <app-profile-search></app-profile-search>
    </div>
    <!-- Trends Suggestions-->
    <div class="mb-5 ml-8 mr-4 shadow rounded-md">
      <div class="p-4">
        <div class="flex justify-between">
          <div class="text-xl font-bold">
            Trends for you
          </div>
          <mat-icon>settings</mat-icon>
        </div>
        <div class="text-sm text-gray-500">This panel is a placeholder.</div>
      </div>
      <div *ngFor="let trend of trends" class="w-full flex justify-between px-4 pt-2 hover:bg-gray-100 cursor-pointer">
          <mat-card-subtitle>
            {{ trend.tag }}<br>
            <span class="font-bold">{{ trend.title }}</span>
            <br>{{ trend.tweets }} Tweets
          </mat-card-subtitle>
        <mat-icon>more_horiz</mat-icon>
      </div>
      <button mat-button color="primary" class="w-full">Show more</button>
    </div>
    <!-- Follow Suggestions-->
    <app-follow-suggestion *ngIf="user" [user]="user"></app-follow-suggestion>
    <!-- Legal Links -->
    <div class="mb-20 ml-11 mr-4 text-gray-300 text-sm">
      <div class="w-full flex flex-wrap">
        <div class="mx-1.5 cursor-pointer hover:underline">Terms of Service</div>
        <div class="mx-1.5 cursor-pointer hover:underline">Privacy Policy</div>
        <div class="mx-1.5 cursor-pointer hover:underline">Cookie Policy</div>
        <div class="mx-1.5 cursor-pointer hover:underline">Imprint</div>
        <div class="mx-1.5 cursor-pointer hover:underline">Accessibility</div>
        <div class="mx-1.5 cursor-pointer hover:underline">Ads Info</div>
        <div class="mx-1.5 cursor-pointer hover:underline">More...</div>
        <div class="mx-1.5 cursor-pointer hover:underline">© 2022 Twitter Clone, Inc.</div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
